antares-client==1.8.0
lark==1.2.2
marshmallow==3.21.1
marshmallow-jsonapi==0.24.0
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.1
rich==14.0.0
streamlit=1.47.0
matplotlib=3.10.3
pandas=2.3.1
altair=5.5.0
fink-client=9.1
